 *{
    margin: 0px;
}
body{
    background: url(clouds.jpg);
}
li{
    display: inline;
    margin: 15px;

}
ul{
    margin-left: 400px;

}
nav{
    background-color: aquamarine;
    height:40px ;
    padding-top: 14px;
    color: red;
}
h1{
    margin-top: 130px;
    text-align: center;
}
.one{
margin-left: 290px;
margin-top: 50px;

}
.two{
    margin-left:80px ;
    margin-top: 50px;

}
button{
    height: 40px;
    border-radius: 10px;
    background-color: azure;
} 

