li {
  list-style: none;
  float: left;
  margin: 20px;
  text-transform: uppercase;
}
ul {
  margin-left: 900px;
}
hr {
  border: 2px solid black;
}
.one {
  position: absolute;
  top: 200px;
  left: 100px;
  border: 4px solid black;
  padding: 50px;
  width: 200px;
}
.two {
  position: absolute;
  top: 200px;
  left: 1000px;
  border: 4px solid black;
  padding: 50px;
  width: 200px;
}
.three {
  position: absolute;
  top: 600px;
  left: 100px;
  border: 4px solid black;
  padding: 50px;
  width: 200px;
}
.four {
  position: absolute;
  top: 600px;
  left: 1000px;
  border: 4px solid black;
  padding: 50px;
  width: 200px;
}
.five {
  position: fixed;
  top: 400px;
  left: 550px;
  border: 4px solid black;
  padding: 50px;
  width: 200px;
}
